header
{
    background-color:#eee;
}



.social-media
{
    list-style:none;
    padding:0px;
}

.social-media li
{
    display:inline;
    padding:10px;
}

.profile_pic
{
    border: 1px solid #000;
    border-radius: 50%;
}

.details
{
    background-color:#B8B8B8;
}

.section-inner
{
    background-color:#fff;
    padding:15px;
    margin:15px;
}

li
{
    list-style:none;
    padding:0px;
}
.university
{
    font-weight:bold;
}

.city
{
    font-size:12px;
    padding-left:30px;
}

.content ul
{
    padding:0px;
}

.glyphicon-envelope,.fa-graduation-cap
{
    padding:5px;
}




.glyphicon-phone
{
    padding:5px;
}
.company_name
{
    font-size:20px;
    font-weight:bold;
    padding: 0px;
}

.designation
{
    font-size:12px;
    font-style: italic;
    padding: 0px;
}

.jd{
    margin-top:40px;
}

.jd ul
{
    margin-left:20px;
}
.jd li
{
    list-style: disc; 
}

h4
{
    font-size:14px;
}