#navbarNav
{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

header
{
    background-color:#eee;
}

.navbar-nav
{
    float:right !important;
    color:#000 !important;
    font-weight:bold;
}

.social-media
{
    list-style:none;
    padding:0px;
}

.social-media li
{
    display:inline;
    padding:10px;
}

.profile_pic
{
    border: 1px solid #000;
    border-radius: 50%;
}

.details
{
    background-color:#B8B8B8;
}

.section-inner
{
    background-color:#fff;
    padding:15px;
    margin:15px;
}

li
{
    list-style:none;
    padding:0px;
}
.university
{
    font-weight:bold;
}

.city
{
    font-size:12px;
    padding-left:30px;
}

.content ul
{
    padding:0px;
}

.glyphicon-envelope,.fa-graduation-cap
{
    padding:5px;
}

.project-name
{
    font-size:20px;
    font-weight:bold;
}

.project-desc
{
    padding-top:20px;
}

.project-icon img
{
    width:100%;
}

.project
{
    padding-bottom:20px;
}

.glyphicon-phone
{
    padding:5px;
}
.company_name
{
    font-size:20px;
    font-weight:bold;
}
.designation
{
    font-size:12px;
    font-style: italic;
}

.jd{
    padding-top:20px;
}

.jd ul
{
    margin-left:20px;
}
.jd li
{
    list-style: disc; 
}

h4
{
    font-size:14px;
}